<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/reseter.css/2.0.0/reseter.min.css"
      integrity="sha512-gCJkkUMGTe73+FMwog6gIBCVJIMXRoc21l6/IPCuzxCex/1sxvO8ctb6Zd4/WWs2UMqmtnDrAdhJht5pEY0LXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>todoList</title>
  </head>
  <body>
    <div id="app">
      <!-- 앱 제목-->
      <header class="hd">
        <h1>TodoList</h1>
      </header>

      <!-- 입력 폼 -->
      <div class="input-container">
        <input
          type="text"
          placeholder="할 일을 입력하세요"
          v-model.trim="newTodo"
          @keyup.enter="addTodo"
        />
        <button @click="addTodo">추가</button>
      </div>

      <!-- 필터 탭 (v-for로 처리) -->
      <div class="filter-container">
        <button
          v-for="(option , index) in filterOptions"
          :key="index"
          :class="filterOption === option ? 'active' : ''"
          @click="changeFilter(option)"
        >
          {{ option === 'all' ? '전체' : option === 'active' ? '미완료' :
          '완료'}}
        </button>
      </div>

      <!-- 필터 탭 (강사님) -->
      <!--
      <div class="filter-container">
        <button
          @click="filterOption='all'"
          :class="{active : filterOption=='all'}"
        >
          전체
        </button>
        <button
          @click="filterOption='active'"
          :class="{active : filterOption=='active'}"
        >
          미완료
        </button>
        <button
          @click="filterOption='completed'"
          :class="{active : filterOption=='completed'}"
        >
          완료
        </button>
      </div>
    -->

      <!-- 할 일 목록 -->
      <ul class="todo-list">
        <li class="empty" v-if="todos.length === 0">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          <p>할 일을 입력해 주세요</p>
        </li>
        <li
          v-for="todo in filteredTodos"
          :key="todo.id"
          :class="{ completed: todo.completed }"
          @click="todo.completed = !todo.completed"
        >
          <input type="checkbox" v-model="todo.completed" />
          <span>{{todo.text}}</span>
          <time>{{todo.createdAt}}</time>
          <i class="fa fa-trash" @click.stop="deleteTodo(todo.id)"></i>
        </li>
      </ul>

      <!-- 요약정보 -->
      <div class="todo-summary">
        <p><span>미완료 항목</span><span>{{activeCount}}</span></p>
        <p><span>완료 항목</span><span>{{completedCount}}</span></p>
        <button @click="deleteAllCompleted">완료된 항목 삭제</button>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp, ref, computed, onMounted } = Vue;

      const app = createApp({
        setup() {
          onMounted(() => {
            loadTodos();
          });

          // 필터 옵션 배열
          const filterOptions = ['all', 'active', 'completed'];

          // localstrage 에 저장
          const saveTodos = () => {
            localStorage.setItem('todos', JSON.stringify(todos.value));
          };

          // localstrage 에서 호출하는 함수
          const loadTodos = () => {
            let list = localStorage.getItem('todos');
            list ? (todos.value = JSON.parse(list)) : [];
          };

          // 날짜 포멧
          const formatDate = (date) => {
            const pad = (num) => String(num).padStart(2, '0');
            return `${pad(date.getMonth() + 1)}/${pad(date.getDate())} ${pad(
              date.getHours()
            )}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;
          };

          // ref
          const todos = ref([]);
          const newTodo = ref(''); // 새 할 일 입력값
          const filterOption = ref('all'); // 현재 필터 상태

          // computed
          const activeCount = computed(() => {
            return todos.value.filter((todo) => !todo.completed).length;
          });
          const completedCount = computed(() => {
            return todos.value.filter((todo) => todo.completed).length;
          });
          const filteredTodos = computed(() => {
            if (filterOption.value == 'active') {
              return todos.value.filter((todo) => !todo.completed);
            } else if (filterOption.value == 'completed') {
              return todos.value.filter((todo) => todo.completed);
            } else {
              return todos.value;
            }
          });

          // method
          const changeFilter = (selectedFilter) => {
            filterOption.value = selectedFilter;
          };

          const addTodo = () => {
            if (newTodo.value.length > 2) {
              let lastId = todos.value[todos.value.length - 1].id;
              todos.value.push({
                id: Date.now(),
                text: newTodo.value,
                completed: false,
                createdAt: formatDate(new Date()),
                // createdAt: new Date().toLocaleDateString <- 2025. 3. 26. 형태
              });
              newTodo.value = '';
              saveTodos();
            }
          };

          const deleteTodo = (id) => {
            todos.value = todos.value.filter((todo) => todo.id !== id);
            saveTodos();
          };

          const deleteAllCompleted = () => {
            todos.value = todos.value.filter((todo) => !todo.completed);
            saveTodos();
          };

          return {
            filterOptions,
            todos,
            newTodo,
            filterOption,
            activeCount,
            completedCount,
            filteredTodos,
            changeFilter,
            addTodo,
            deleteTodo,
            deleteAllCompleted,
          };
        },
      });

      app.mount('#app');
    </script>
  </body>
</html>
